#sign-in-container,
#signed-in-container {
	display: none
}

.left-nav {
	list-style-type: none;
	margin: 0; padding: 0
}
.left-nav li a {
	display: block;
	color: #333;
	font-weight: bold;
	padding: 10px;
}
.left-nav li.active a {
	color: #006dcc;
}
.left-nav li a:hover {
	color: #006dcc;
}

#top-nav {
	margin-bottom: 10px;
	padding-bottom: 10px
}
#list-editor { display: none; }

#add-task form, .task { padding: 5px; margin: 0 0 5px 0 }
#add-task input[name="title"] { width: 80% }

#task-list { margin: 0; padding: 0; list-style-type: none }
.task { vertical-align: middle }
.task { padding: 8px; margin: 0 0 5px 0; }
.task.active { border: 1px solid #049cdb }
.task .notes { color: #888 }
.task input { margin-right: 3px }

.completed { text-decoration: line-through; }