html,
body {
	background: url('/img/pw_maze_white.png') repeat;
}
* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

#sign-in-container,
#signed-in-container {
	display: none
}

.left-nav {
	list-style-type: none;
	margin: 0; padding: 0
}
.left-nav li a {
	display: block;
	color: #333;
	font-weight: bold;
	padding: 10px;
}
.left-nav li.active a {
	color: #006dcc;
}
.left-nav li a:hover {
	color: #006dcc;
}

#top-nav {
	margin-bottom: 10px;
	padding-bottom: 10px
}
#list-editor { display: none; }

.task {
	padding: 5px;
	margin: 0 0 5px 0
}

#task-list {
	margin: 0;
	padding: 0;
	list-style-type: none
}
.task {
	vertical-align: middle;
	padding: 8px;
	margin: 0 0 5px 0;
}
.task:hover {
	background-color: #fff;
}
.task-active {
	background-color: #fff;
	border: 1px solid #049cdb;
}
.task .notes {
	color: #888
}
.task input {
	margin-right: 3px
}

.completed { text-decoration: line-through; }