<div class="span6">
  <div id="add-task">
    <form class="add-task">
      <div class="row-fluid">
        <div class="span10">
          <div class="control-group">
            <input type="text" class="input-block-level" placeholder="Add a new task" name="title" />
          </div>
        </div>
        <div class="span2">
          <button type="submit" class="btn"><i class="icon-plus"></i></button>
        </div>
      </div>
    </form>
  </div>
  <ul id="task-list"></ul>
</div>
<div class="span6">
  <div id="selected-task"></div>
  <div class="alert" id="warning-no-task-selected">
    <strong>Note:</strong> Select a task to edit or delete it.
  </div>
</div>